@{
    ViewData["Title"] = "Farms";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- our team member section start here -->
<section class="team-member style-2 style-3 padding-tb">
	<div class="container">
		<div class="section-wrapper row justify-content-center">
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/05.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Maria Patterson</a></h4>
						<p>Plant Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/06.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Sahjahan Sagor</a></h4>
						<p>Co Founder</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/07.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Billy Rivera</a></h4>
						<p>Plant Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/08.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Ronald Gray</a></h4>
						<p>Plant Geneticists</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/09.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Annabel Lee</a></h4>
						<p>Plant Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/10.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Jack Dawson</a></h4>
						<p>Plant Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/11.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Carl Mansfield</a></h4>
						<p>Co Founder</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/12.jpg" alt="team-member">
						<ul>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						</ul>
					</div>
					<div class="post-content">
						<h4><a href="team-single.html">Rodrigo Sanders</a></h4>
						<p>Plant Geneticists</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- our team member section ending here -->
