		<!-- mobile-nav section start here -->
<div class="mobile-menu">
	<nav class="mobile-header primary-menu d-lg-none">
		<div class="header-logo">
			<a href="index.html" class="logo"><img src="assets/images/logo/01.png" alt="logo"></a>
		</div>
		<div class="header-bar" id="open-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</nav>
	<nav class="menu">
		<div class="mobile-menu-area d-lg-none">
			<div class="mobile-menu-area-inner" id="scrollbar">
				<ul class="m-menu">
					<li>
						<a class="active" href="#0">About</a>
					</li>
					<li>
						<a href="#0">Products</a>
					</li>
					<li><a href="service.html">Farms</a></li>
					<li><a href="contact-us.html">Contact us</a></li>
				</ul>
				<ul class="social-link-list d-flex flex-wrap">
					<li><a href="#" class="facebook"><i class=" fab fa-facebook-f"></i></a></li>
					<li><a href="#" class="twitter-sm"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- mobile-nav section ending here -->