@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>İbbrahim Us</h1>
 <!-- contact us section start here -->
	    <div class="contact padding-tb">
            <div class="container">
                <div class="section-wrapper row">
                    <div class="col-lg-8 col-12">
                        <div class="contact-part">
                            <div class="contact-title">
                                <h4>Send Message us</h4>
                            </div>
                            <div class="contact-form d-flex flex-wrap justify-content-between">
                                <input type="text" name="name" placeholder="Your Name">
                                <input type="email" name="email" placeholder="Your Email">
                                <input type="tel" name="tel" placeholder="Phone">
                                <input type="text" placeholder="Subject">
                                <textarea rows="7" placeholder="Enter Your Message"></textarea>
                                <input class="btn" type="submit" value="Submit Now">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
						<div class="contact-info">
							<h3>Quick Contact</h3>
							<p>Continually productize compelling quality dome
							packed with all Elated Themes ently utilize 
							website and creating pages corporate </p>
							<ul class="contact-location">
								<li>
									<div class="icon-part">
										<i class="fas fa-phone-volume"></i>
									</div>
									<div class="content-part">
										<p>+88130-589-745-6987</p>
										<p>+1655-456-523</p>
									</div>
								</li>
								<li>
									<div class="icon-part">
										<i class="fas fa-clock"></i>
									</div>
									<div class="content-part">
										<p>Mon - Fri 09:00 - 18:00</p>
										<p>(except public holidays)</p>
									</div>
								</li>
								<li>
									<div class="icon-part">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="content-part">
										<p>25/2 Lane2 Vokte Street Building <br>Melborn City</p>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
		<!-- contact us section ending here -->
		
		<!-- gmap section start here -->
        <div class="gmaps padding-tb">
			<div class="container">
				<div id="map"></div>
			</div>
        </div>
        <!-- gmap section ending here -->
