@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page header section ending here -->
<section class="page-header padding-tb page-header-bg-1">
    <div class="container">
        <div class="page-header-item d-flex align-items-center justify-content-center">
            <div class="post-content">
                <h3>About Us</h3>
                <div class="breadcamp">
                    <ul class="d-flex flex-wrap justify-content-center align-items-center">
                        <li><a href="index.html">Home</a> </li>
                        <li><a href="#">Pages</a> </li>
                        <li><a class="active">About Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page header section ending here -->
<!-- about section start here -->
<section class="about style-2 padding-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-left">
                    <div class="section-header wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
                        <h2><span>Welcome to Our Gowala Dairy Farm</span></h2>
                        <p>
                            Continually productize compelling quality for packed with  Elated
                            productize compelling quality for packed with all Elated Them
                            Setting up to website and creating pages.
                        </p>
                    </div>
                    <div class="section-wrapper">
                        <ul class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            <li><i class="far fa-check-square"></i>We are providing different services</li>
                            <li><i class="far fa-check-square"></i>We are one of leading company</li>
                            <li><i class="far fa-check-square"></i>Profitability is the primary goal of all business</li>
                            <li><i class="far fa-check-square"></i>Learn how to grow your Business</li>
                            <li><i class="far fa-check-square"></i>Professional solutions for your business</li>
                        </ul>
                        <a href="#" class="btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="video-post text-center">
                        <div class="video-thumb">
                            <img src="assets/images/about/01.jpg" alt="about-us">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section ending here -->
<!-- about section start here -->
<section class="about style-3 padding-tb">
    <div class="container p-xl-0">
        <div class="section-wrapper row justify-content-center">
            <div class="col-xl-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="post-item-inner text-center">
                    <div class="post-thumb">
                        <img src="assets/images/about/01.png" alt="about">
                    </div>
                    <div class="post-content">
                        <div class="title">
                            <h5>Farm</h5>
                            <h5>Technological Leader</h5>
                        </div>
                        <p>
                            Continually productize compelling quality for
                            packed with all Elated Themes. Setting up to website
                            and creating pages.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="post-item-inner text-center">
                    <div class="post-thumb">
                        <img src="assets/images/about/02.png" alt="about">
                    </div>
                    <div class="post-content">
                        <div class="title">
                            <h5 class="m-0">Nature</h5>
                            <h5 class="m-0">Milk For Making Ghee</h5>
                        </div>
                        <p>
                            Continually productize compelling quality for
                            packed with all Elated Themes. Setting up to website
                            and creating pages.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="post-item-inner text-center">
                    <div class="post-thumb">
                        <img src="assets/images/about/03.png" alt="about">
                    </div>
                    <div class="post-content">
                        <div class="title">
                            <h5>3 days</h5>
                            <h5>Convenient Delivery System</h5>
                        </div>
                        <p>
                            Continually productize compelling quality for
                            packed with all Elated Themes. Setting up to website
                            and creating pages.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section ending here -->
<!-- histori section start here -->
<section class="histori padding-tb">
    <div class="container">
        <div class="section-header wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
            <h2><span>History</span></h2>
            <h2>40 Years Farm Traditions</h2>
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-8 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="histori-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="histori-item">
                                    <div class="histori-thumb">
                                        <img src="assets/images//histori/01.jpg" alt="histori">
                                    </div>
                                    <div class="histori-content">
                                        <div class="histori-left">
                                            <h2>Since</h2>
                                            <h3>1975</h3>
                                        </div>
                                        <div class="histori-right">
                                            <p>
                                                Continually productize compelling quality elated them setting up to website with
                                                all them imperdiet molestieo continually productize compelling quality for packedq
                                                for  packed with all elated themes setting up to website and creating pages
                                                compelling quality for packed with all elated themes setting up to website .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="histori-item">
                                    <div class="histori-thumb">
                                        <img src="assets/images//histori/01.jpg" alt="histori">
                                    </div>
                                    <div class="histori-content">
                                        <div class="histori-left">
                                            <h2>Since</h2>
                                            <h3>1985</h3>
                                        </div>
                                        <div class="histori-right">
                                            <p>
                                                Continually productize compelling quality elated them setting up to website with
                                                all them imperdiet molestieo continually productize compelling quality for packedq
                                                for  packed with all elated themes setting up to website and creating pages
                                                compelling quality for packed with all elated themes setting up to website .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="histori-item">
                                    <div class="histori-thumb">
                                        <img src="assets/images//histori/01.jpg" alt="histori">
                                    </div>
                                    <div class="histori-content">
                                        <div class="histori-left">
                                            <h2>Since</h2>
                                            <h3>1995</h3>
                                        </div>
                                        <div class="histori-right">
                                            <p>
                                                Continually productize compelling quality elated them setting up to website with
                                                all them imperdiet molestieo continually productize compelling quality for packedq
                                                for  packed with all elated themes setting up to website and creating pages
                                                compelling quality for packed with all elated themes setting up to website .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="achievement">
                        <div class="title">
                            <h2>Our Achievement</h2>
                        </div>
                        <div class="achieve-wrapper">
                            <div class="post-item">
                                <div class="post-inner">
                                    <div class="post-thumb">
                                        <img src="assets/images/histori/achievement/01.png" alt="achievement">
                                    </div>
                                    <div class="post-content">
                                        <span class="counter">6,200</span>
                                        <p>Customers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-inner">
                                    <div class="post-thumb">
                                        <img src="assets/images/histori/achievement/02.png" alt="achievement">
                                    </div>
                                    <div class="post-content">
                                        <span class="counter">400</span>
                                        <p>Award Won</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-inner">
                                    <div class="post-thumb">
                                        <img src="assets/images/histori/achievement/03.png" alt="achievement">
                                    </div>
                                    <div class="post-content">
                                        <span class="counter">500</span>
                                        <p>volunteer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-inner">
                                    <div class="post-thumb">
                                        <img src="assets/images/histori/achievement/04.png" alt="achievement">
                                    </div>
                                    <div class="post-content">
                                        <span class="counter">400</span>
                                        <p>Cow</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="histori-navigation">
                            <div class="histori-button-prev"><i class="fas fa-arrow-left"></i></div>
                            <div class="histori-button-next active"><i class="fas fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- histori section ending here -->
<!-- sponsor section start here -->
<div class="sponsor padding-tb">
    <div class="container">
        <div class="section-wrapper">
            <div class="sponsor-slider">
                <div class="swiper-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <a href="#"><img src="assets/images/sponsor/01.png" alt="sponsor"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <a href="#"><img src="assets/images/sponsor/02.png" alt="sponsor"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <a href="#"><img src="assets/images/sponsor/03.png" alt="sponsor"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <a href="#"><img src="assets/images/sponsor/04.png" alt="sponsor"></a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sponsor-thumb">
                            <a href="#"><img src="assets/images/sponsor/05.png" alt="sponsor"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sponsor section ending here -->