@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Our Products</h1>
<!-- Shop Page Section start here -->
<section class="shop-page padding-tb">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-12 sticky-widget">
				<div class="shop-title d-flex flex-wrap justify-content-between">
					<p>Showing 01 - 12 of 139 Results</p>
					<div class="product-view-mode">
						<a class="active" data-target="grid"><i class="fas fa-th"></i></a>
						<a data-target="list"><i class="fas fa-list"></i></a>
					</div>
				</div>
				<div class="shop-product-wrap grid row">
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/01.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/01.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/02.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/02.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/03.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/03.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/04.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/04.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/05.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/05.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/06.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/06.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/07.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/07.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/01.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/01.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<div class="product-item">
							<div class="product-thumb">
								<img src="assets/images/shop/02.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Text Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>$200</h6>
							</div>
						</div>
						<div class="product-list-item">
							<div class="product-thumb">
								<img src="assets/images/shop/02.jpg" alt="shop">
								<div class="product-action-link">
									<a class="view-modal" data-toggle="modal" data-target="#product_view"><i class="far fa-eye"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
									<a href="#"><i class="fas fa-cart-plus"></i></a>
									<a href="#"><i class="fas fa-sync-alt"></i></a>
								</div>
							</div>
							<div class="product-content">
								<h5><a href="#">Product Title Here</a></h5>
								<p>
									<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
								</p>
								<h6>
									$200
								</h6>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination-area  d-flex flex-wrap justify-content-center">
					<ul class="pagination  d-flex flex-wrap m-0">
						<li class="prev">
							<a href="#"><i class="fas fa-angle-double-left"></i></a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#" class="active d-none d-md-block">2</a></li>
						<li><a href="#" class="d-none d-md-block">3</a></li>
						<li class="dot">....</li>
						<li><a href="#" class="d-none d-md-block">4</a></li>
						<li class="next">
							<a href="#"><i class="fas fa-angle-double-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-12 sticky-widget">
				<div class="sidebar-widget">
					<div class="widget-search">
						<h4>Search Keyword</h4>
						<form action="action">
							<input type="text" placeholder="Search Here..." name="s">
							<button type="submit"><i class="flaticon-magnifying-glass"></i></button>
						</form>
					</div>
					<div class="shop-widget">
						<div class="widget-title">
							<h4>Post Category</h4>
						</div>
						<div class="widget-wrapper">
							<ul class="shop-menu">
								<li>
									<a href="#0">Butter</a>
									<ul class="shop-submenu">
										<li><a href="#">Butter 1</a></li>
										<li><a href="#">Butter 2</a></li>
										<li><a href="#">Butter 3</a></li>
									</ul>
								</li>
								<li>
									<a href="#0">Cheese</a>
									<ul class="shop-submenu">
										<li><a href="#">Cheese 1</a></li>
									</ul>
								</li>
								<li>
									<a href="#0">Ice Cream</a>
									<ul class="shop-submenu">
										<li><a href="#">Ice Cream 1</a></li>
										<li><a href="#">Ice Cream 2</a></li>
									</ul>
								</li>
								<li>
									<a href="#0">Milk</a>
									<ul class="shop-submenu">
										<li><a href="#">Milk 1</a></li>
										<li><a href="#">Milk 2</a></li>
										<li><a href="#">Milk 3</a></li>
										<li><a href="#">Milk 4</a></li>
										<li><a href="#">Milk 5</a></li>
									</ul>
								</li>
								<li>
									<a href="#0">Uncategorized</a>
									<ul class="shop-submenu">
										<li><a href="#">Uncategorized 1</a></li>
										<li><a href="#">Uncategorized 2</a></li>
									</ul>
								</li>
								<li>
									<a href="#0">Yoghurt</a>
									<ul class="shop-submenu">
										<li><a href="#">Yoghurt 1</a></li>
										<li><a href="#">Yoghurt 2</a></li>
										<li><a href="#">Yoghurt 3</a></li>
									</ul>
								</li>
								<li>
									<a href="#0">Cream</a>
									<ul class="shop-submenu">
										<li><a href="#">Cream 1</a></li>
										<li><a href="#">Cream 2</a></li>
										<li><a href="#">Cream 3</a></li>
										<li><a href="#">Cream 4</a></li>
										<li><a href="#">Cream 5</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="letest-product">
						<div class="widget-title">
							<h4>Latests Products</h4>
						</div>
						<div class="widget-wrapper">
							<ul>
								<li>
									<div class="product-thumb">
										<img src="assets/images/shop/01.jpg" alt="shop">
									</div>
									<div class="product-content">
										<h6><a href="#">Product Text Here</a></h6>
										<p>
											<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
										</p>
										<h6>$200</h6>
									</div>
								</li>
								<li>
									<div class="product-thumb">
										<img src="assets/images/shop/02.jpg" alt="shop">
									</div>
									<div class="product-content">
										<h6><a href="#">Product Text Here</a></h6>
										<p>
											<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
										</p>
										<h6>$200</h6>
									</div>
								</li>
								<li>
									<div class="product-thumb">
										<img src="assets/images/shop/03.jpg" alt="shop">
									</div>
									<div class="product-content">
										<h6><a href="#">Product Text Here</a></h6>
										<p>
											<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
										</p>
										<h6>$200</h6>
									</div>
								</li>
								<li>
									<div class="product-thumb">
										<img src="assets/images/shop/04.jpg" alt="shop">
									</div>
									<div class="product-content">
										<h6><a href="#">Product Text Here</a></h6>
										<p>
											<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
										</p>
										<h6>$200</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="product_view">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal"><i class="fas fa-window-close"></i></button>
					<div class="modal-body">
						<div class="product-details-inner">
							<div class="row">
								<div class="col-lg-5 col-12">
									<div class="popup-slide">
										<div class="slider-for">
											<div class="thumb">
												<img src="assets/images/shop/01.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/02.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/03.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/04.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/05.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/06.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/07.jpg" alt="shop">
											</div>
										</div>
										<div class="slider-nav">
											<div class="thumb">
												<img src="assets/images/shop/01.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/02.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/03.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/04.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/05.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/06.jpg" alt="shop">
											</div>
											<div class="thumb">
												<img src="assets/images/shop/07.jpg" alt="shop">
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="product-content">
										<h5><a href="#">Product Title Here</a></h5>
										<p>
											<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> <span>(3 review)</span>
										</p>
										<h6>
											$200
										</h6>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										</p>
									</div>
									<div class="cart-button">
										<div class="cart-plus-minus">
											<div class="dec qtybutton">-</div>
											<input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
											<div class="inc qtybutton">+</div>
										</div>
										<a href="#" class="defult-btn">Add to Cart <i class="fas fa-cart"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Shop Page Section ending here -->
