@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- banner section start here -->
<section class="slider-section banner style-1">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<img src="assets/images/banner/02.jpg" alt="Slider One Image">
				<div class="container">
					<div class="slider-content center">
						<div class="slider-content-inner">
							<img src="assets/images/banner/content/01.png" alt="banner">
							<h2 class="delay1">The Complete Milk !</h2>
							<p class="delay3">For a glass full of nutrition</p>
							<a href="#" class="btn delay4">View Product</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner section ending here -->
<!-- portfolio section start here -->
<section class="portfolio padding-tb bg-image-1">
	<div class="container">
		<div class="section-wrapper row justify-content-center">
			<div class="col-lg-6 p-md-0 left">
				<div class="section-header">
					<div class="title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
						<h2>Our Gallery</h2>
						<h2><span>Visit Our MilkSheke Farm </span></h2>
						<p>
							Continually productize compelling quality for packed with  Elated
							Themes Setting up to website and it crating pages .
						</p>
					</div>
				</div>
				<div class="portfolio-wrapper">
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/01.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/01.jpg" alt="portfolio">
						</div>
					</div>
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/02.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/02.jpg" alt="portfolio">
						</div>
					</div>
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/03.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/03.jpg" alt="portfolio">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 p-md-0">
				<div class="portfolio-wrapper">
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/04.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/04.jpg" alt="portfolio">
						</div>
					</div>
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/05.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/05.jpg" alt="portfolio">
						</div>
					</div>
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/06.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/06.jpg" alt="portfolio">
						</div>
					</div>
					<div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
						<div class="post-thumb-inner">
							<a class="gallery-icon" href="assets/images/portfolio/07.jpg" data-rel="lightcase">
								<i class="fas fa-link"></i>
							</a>
							<img src="assets/images/portfolio/07.jpg" alt="portfolio">
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">View Gallery</a>
		</div>
	</div>
</section>
<!-- portfolio section ending here -->
<!-- product section start here -->
<section class="product padding-tb">
	<div class="container">
		<div class="section-header wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
			<h2>Our Product</h2>
			<h2><span>We Provided the Best Product </span></h2>
			<p>
				Continually productize compelling quality for packed with  Elated
				Themes Setting up to website and it crating pages .
			</p>
		</div>
		<div class="section-wrapper row justify-content-center">
			<div class="col-md-7">
				<div class="our-product row justify-content-center">
					<div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
						<div class="post-item-inner text-center">
							<div class="post-thumb">
								<a href="assets/images/product/01.png" data-rel="lightcase">
									<img src="assets/images/product/01.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Ghee</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$45.99</span>
							</div>
							<a href="#" class="offer">-50%</a>
						</div>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
						<div class="post-item-inner text-center">
							<div class="post-thumb">
								<a href="assets/images/product/02.png" data-rel="lightcase">
									<img src="assets/images/product/02.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Cheese</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$45.99</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
						<div class="post-item-inner text-center">
							<div class="post-thumb">
								<a href="assets/images/product/03.png" data-rel="lightcase">
									<img src="assets/images/product/03.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Butter</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$45.99</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
						<div class="post-item-inner text-center">
							<div class="post-thumb">
								<a href="assets/images/product/04.png" data-rel="lightcase">
									<img src="assets/images/product/04.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Cream</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$45.99</span>
							</div>
							<a href="#" class="offer">-30%</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="post-item-inner text-center product-slider">
					<div class="swiper-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
						<div class="swiper-slide">
							<div class="post-thumb">
								<a href="assets/images/product/05.png" data-rel="lightcase">
									<img src="assets/images/product/05.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Ghee</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$99.99</span>
							</div>
							<a href="#" class="offer">-50%</a>
						</div>

						<div class="swiper-slide">
							<div class="post-thumb">
								<a href="assets/images/product/05.png" data-rel="lightcase">
									<img src="assets/images/product/05.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Milk</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$59.99</span>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="post-thumb">
								<a href="assets/images/product/05.png" data-rel="lightcase">
									<img src="assets/images/product/05.png" alt="product">
								</a>
							</div>
							<div class="post-content">
								<h4><a href="#">Gowala Ghee</a></h4>
								<ul class="rating">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star-half"></i></li>
								</ul>
								<p>(Review 3)</p>
								<span class="price">$79.99</span>
							</div>
							<a href="#" class="offer">-20%</a>
						</div>
					</div>
					<div class="product-pagination"></div>
				</div>
			</div>
			<a href="shop-page.html" class="btn btn-m-t">View all Product</a>
		</div>
	</div>
</section>
<!-- product section ending here -->
<!-- video post start here -->
<div class="youtube-video padding-tb bg-image-2">
	<div class="container">
		<div class="section-wrapper">
			<div class="video-post text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
				<div class="video-thumb">
					<img src="assets/images/video/01.jpg" alt="video-post">
					<a href="https://www.youtube.com/embed/cZh0nsrkHh8" class="video-icon" data-rel="lightcase">
						<i class="fab fa-youtube"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- video post start here -->
<!-- our team member section start here -->
<section class="team-member padding-tb">
	<div class="container">
		<div class="section-header wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
			<h2>Our Team</h2>
			<h2><span>2000+ People work since 1975 </span></h2>
			<p>
				Continually productize compelling quality for packed with  Elated
				Themes Setting up to website and it crating pages .
			</p>
		</div>
		<div class="section-wrapper row justify-content-center">
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/01.png" alt="team-member">
						<div class="post-content">
							<h4><a href="#">Laura smith</a></h4>
							<p>Co Founder</p>
							<ul>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/02.png" alt="team-member">
						<div class="post-content">
							<h4><a href="#">Laura smith</a></h4>
							<p>Co Founder</p>
							<ul>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/03.png" alt="team-member">
						<div class="post-content">
							<h4><a href="#">Laura smith</a></h4>
							<p>Co Founder</p>
							<ul>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/04.png" alt="team-member">
						<div class="post-content">
							<h4><a href="#">Laura smith</a></h4>
							<p>Co Founder</p>
							<ul>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/05.png" alt="team-member">
						<div class="post-content">
							<h4><a href="#">Laura smith</a></h4>
							<p>Co Founder</p>
							<ul>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
				<div class="post-item-inner text-center">
					<div class="post-thumb">
						<img src="assets/images/team/06.png" alt="team-member">
						<div class="post-content">
							<h4><a href="#">Laura smith</a></h4>
							<p>Co Founder</p>
							<ul>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- our team member section ending here -->
<!-- pricing section start here -->
<section class="pricing padding-tb bg-image-1">
	<div class="container">
		<div class="section-wrapper row justify-content-center">
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
				<div class="post-item-inner text-center">
					<div class="price-thumb">
						<img src="assets/images/price/01.jpg" alt="pricing">
					</div>
					<div class="price-title">
						<h3>Individual</h3>
						<p>Quisque viverra elit sit amet hendrerit Sed libero vitae metus</p>
					</div>
					<div class="price-body">
						<ul>
							<li>Integer comodo massa</li>
							<li>Nam siewet amet leoing maximus</li>
							<li>Dignism elit eu viverra elit</li>
							<li>Nam siewet amet leoing maximus</li>
						</ul>
					</div>
					<div class="price-footer">
						<h5><del>19.00 USD</del></h5>
						<h3>10.00 USD</h3>
						<a href="#" class="btn">Buy Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
				<div class="post-item-inner text-center">
					<div class="price-thumb">
						<img src="assets/images/price/01.jpg" alt="pricing">
					</div>
					<div class="price-title">
						<h3>Monthly</h3>
						<p>Quisque viverra elit sit amet hendrerit Sed libero vitae metus</p>
					</div>
					<div class="price-body">
						<ul>
							<li>Integer comodo massa</li>
							<li>Nam siewet amet leoing maximus</li>
							<li>Dignism elit eu viverra elit</li>
							<li>Nam siewet amet leoing maximus</li>
						</ul>
					</div>
					<div class="price-footer">
						<h5><del>49.00 USD</del></h5>
						<h3>29.00 USD</h3>
						<a href="#" class="btn">Buy Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
				<div class="post-item-inner text-center">
					<div class="price-thumb">
						<img src="assets/images/price/01.jpg" alt="pricing">
					</div>
					<div class="price-title">
						<h3>Biweekly</h3>
						<p>Quisque viverra elit sit amet hendrerit Sed libero vitae metus</p>
					</div>
					<div class="price-body">
						<ul>
							<li>Integer comodo massa</li>
							<li>Nam siewet amet leoing maximus</li>
							<li>Dignism elit eu viverra elit</li>
							<li>Nam siewet amet leoing maximus</li>
						</ul>
					</div>
					<div class="price-footer">
						<h5><del>29.00 USD</del></h5>
						<h3>19.00 USD</h3>
						<a href="#" class="btn">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- pricing section start here -->
<!-- blog section start here -->
<section class="blog padding-tb" id="Blog">
	<div class="container">
		<div class="">
			<div class="section-header wow fadeInDown" data-wow-duration="1s" data-wow-delay=".1s">
				<h2>Recent News</h2>
				<h2><span>Best Milk Recipe You have Ever seen </span></h2>
				<p>
					Continually productize compelling quality for packed with  Elated
					Themes Setting up to website and it crating pages .
				</p>
			</div>
			<div class="section-wrapper">
				<div class="post-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
					<div class="post-inner">
						<div class="post-thumb">
							<a href="blog-single.html"><img src="assets/images/blog/01.jpg" alt="blog"></a>
						</div>
						<div class="post-content">
							<ul class="content-left">
								<li>
									<a href="#"><img src="assets/images/blog/icon/01.png" alt="blog"></a>
									<p>04</p>
									<ul class="social-media-list">
										<li>
											<a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#"><img src="assets/images/blog/icon/02.png" alt="icon"></a>
									<p>15</p>
								</li>
								<li>
									<a href="#"><img src="assets/images/blog/icon/03.png" alt="icon"></a>
									<p>12</p>
								</li>
							</ul>
							<div class="content-part">
								<div class="entry-header">
									<div class="entry-meta">
										<p class="byline">
											Admin :<a href="#">Emma Grant</a>
										</p>
										<p class="posted-on">
											Date :<a href="#">24 December 2021</a>
										</p>
									</div>
									<h4><a href="blog-single.html">The Only Ice Cream Recipe You'll Ever Need</a></h4>
								</div>
								<div class="entry-content">
									<p>
										Qnteate Supple Chan Though Marke Poston Bestng Practcese Marke
										Supple Chan Though Marke Poston Bestng Practces Chain Throuh
										Practces eractve Fashion Fashion Economically And Sound .
									</p>
									<a href="blog-single.html" class="btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="post-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
					<div class="post-inner">
						<div class="post-thumb">
							<a href="blog-single.html"><img src="assets/images/blog/02.jpg" alt="blog"></a>
						</div>
						<div class="post-content">
							<ul class="content-left">
								<li>
									<a href="#"><img src="assets/images/blog/icon/01.png" alt="blog"></a>
									<p>04</p>
									<ul class="social-media-list">
										<li>
											<a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#"><img src="assets/images/blog/icon/02.png" alt="icon"></a>
									<p>15</p>
								</li>
								<li>
									<a href="#"><img src="assets/images/blog/icon/03.png" alt="icon"></a>
									<p>12</p>
								</li>
							</ul>
							<div class="content-part">
								<div class="entry-header">
									<div class="entry-meta">
										<p class="byline">
											Admin :<a href="#">Emma Grant</a>
										</p>
										<p class="posted-on">
											Date :<a href="#">24 December 2021</a>
										</p>
									</div>
									<h4><a href="blog-single.html">Tips for Making Dairy Free Milk At Home</a></h4>
								</div>
								<div class="entry-content">
									<p>
										Qnteate Supple Chan Though Marke Poston Bestng Practcese Marke
										Supple Chan Though Marke Poston Bestng Practces Chain Throuh
										Practces eractve Fashion Fashion Economically And Sound .
									</p>
									<a href="blog-single.html" class="btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- blog section ending here -->
<!-- sponsor section start here -->
<div class="sponsor padding-tb">
	<div class="container">
		<div class="section-wrapper">
			<div class="sponsor-slider">
				<div class="swiper-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
					<div class="swiper-slide">
						<div class="sponsor-thumb">
							<a href="#"><img src="assets/images/sponsor/01.png" alt="sponsor"></a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-thumb">
							<a href="#"><img src="assets/images/sponsor/02.png" alt="sponsor"></a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-thumb">
							<a href="#"><img src="assets/images/sponsor/03.png" alt="sponsor"></a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-thumb">
							<a href="#"><img src="assets/images/sponsor/04.png" alt="sponsor"></a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="sponsor-thumb">
							<a href="#"><img src="assets/images/sponsor/05.png" alt="sponsor"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sponsor section ending here -->
